@font - face {
	font - family: Modest;
	src: local("Modest"), url(/static/media / Modest .4 d2a1bde.ttf) format("opentype")
}
@font - face {
	font - family: Oxygen;
	src: local("Oxygen"), url(/static/media / Oxygen - Bold .3 ada7a94.ttf) format("opentype")
}*{
	cursor: url(data: image / png; base64, iVBORw0KGgoAAAANSUhEUgAAADUAAAA1CAQAAABL72v7AAAABGdBTUEAALGPC / xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA / 4 ePzL8AAAAHdElNRQflDB4MMBLajlPjAAAAAW9yTlQBz6J3mgAAAqhJREFUWMPtmL9v00AUx7 / npmmF1MRpkCgLFLFTb0UCJBdR / gXYmoWNIeqCyJQBITEgBQmxMMTd2ChFggGk3MaYSBWIAUiFBEItqp0maZrE9mNI3CRO2jSKHwPi68U + n9 / H7368d3fAX5NgsEMjoXIzeIdFNNFAGTFYS3PHk3K / MAtCuKfQxj6awPrjtadWGVAGfxp7Ic6LuiiLfaGIumgMdepA1ERDkEDXFRIRMXkhnnlY3FNjAbXe8UqsEiUfDHhBVeNa0DCL1ov9oIZxN3i / 5 IF0 / aCm8Tx4ECAbsntUZjPkGG84QIB0ulCZDSLjU2Cz7EivhL5CZHzhwQCArByijG9bNJ6xIaiSpNYUpvmzvCjYABACAFTAi3LheoHJbnHZRHA8FDF7BZCHctFkRsHrK25QFGHPqxBzX5moe15tw + Ek6XPj2 / hnpF / MvTK3zZ3cW32BFZS + Q11K3 + Pz6Bz5pF9lQskNP0qaTChrx48yRwhoysmrDtIoaXskVKEvUxfG + 9 OjpV8m1zcsbnGxkE6S0zXYs2wgANAvydfWD + unfKnfYAX9V4 + 8 WSE / y4 + cHFmURUy0UuPpdorkUgyKl4XtcaPGEDUgPNQ0plhRIbgeKszcgBMAqIVQuLY7bSmdJSfgjmVqOEp0FtKMizP1zMKpwmb7QVZklQ + V3STSlj1UmQulRvM1okSqEy0qss4CmslXiRKpriJZkQxrdm3RJIu0Kz2FHH2l6SZZpPlPduRuMeCtXCJFVPiuzva9SD8jWlkNEHSfqPBVjfeWCgBQY1u7UVgoWADE4WghOKihhDp + L908znQujwgcTGMKk1DUqIa194llf60QAFjmfDz5SLuuRqC0UQQXLmw0AYQx5DRPNLEHG / UWqlR68iF5e0CtnnvR9savQHryDwGdTOrnFu0xAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIxLTEyLTMwVDEyOjQ3OjQ4KzAwOjAwQQ4YWgAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMS0xMi0zMFQxMjo0Nzo0OCswMDowMDBToOYAAAAASUVORK5CYII = ),
	auto
}::-webkit - scrollbar {
	display: none
}
body, html {
	background: radial - gradient(ellipse at bottom, #1b2735 0,# 090 a0f 100 % );overflow: hidden
}.videoTag, body, html {
	height: 100 % ;width: 100 %
}.videoTag {
	position: fixed;top: 0;bottom: 0;left: 0;right: 0
}
#root {
	height: 100 %
}.content {
	z - index: 9000;
	position: absolute
}.content, .main {
	text - align: center;
	width: 100 % ;
	height: 100 %
}.logo {
	width: 500 px;margin - top: 7 % ;z - index: 1000
}.blink {
	font - family: Modest;
	color: #889599;font-size:70px!important}.thank-you{font-family:Oxygen;width:-webkit-fit-content;width:fit-content;margin:22px auto 0;background:# 000;
	color: #fff;
	padding: 20 px 45 px;
	border - radius: 10 px;
	opacity: .55;
	width: 300 px
}.social {
	margin - top: 60 px
}.discord: hover, .instagram: hover, .twitter: hover {
		opacity: 1
	}.twitter {
		opacity: .65
	}.discord {
		margin - left: 10 px;
		margin - right: 10 px;
		opacity: .85
	}.instagram {
		opacity: .65
	}.whitelist - input {
		margin - top: 50 px;
		padding: 10 px 20 px;
		background - color: #e4e4e4;
		font - weight: 300;
		font - size: 19 px;
		width: 350 px
	}.whitelist - button, .whitelist - input {
		font - family: Oxygen;
		border - radius: 10 px
	}.whitelist - button {
		width: -webkit - fit - content;width: fit - content;margin: 22 px auto 0;background: #000;color:# fff;padding: 20 px 45 px;opacity: .55;width: 300 px
	}.whitelist - button: hover {
		box - shadow: 0 0 32 px #3c448c;opacity:1}@media screen and (max-width:1900px){.logo{width:500px}}@media screen and (max-width:1500px){.logo{width:400px;margin-top:30px}.blink{font-size:50px!important}.social,.whitelist-input{margin-top:40px}}@media screen and (max-width:1200px){.logo{width:320px;margin-top:30px}.blink{font-size:50px!important}.social,.whitelist-input{margin-top:30px}}@media screen and (max-width:700px){body,html{overflow:auto}.logo{width:240px;margin-top:80px}.blink{font-size:40px!important}.twitter img{width:60px}.discord img{width:75px}.instagram img{width:60px}.whitelist-input{width:80%}.whitelist-button{width:75%;padding:20px 35px}.social{margin-top:35px;padding-bottom:30px}}# stars {
			position: absolute;width: 1 px;height: 1 px;background: 0 0;box - shadow: 930 px 1196 px #fff,
			1019 px 508 px #fff,
			449 px 1496 px #fff,
			283 px 658 px #fff,
			566 px 386 px #fff,
			1183 px 1377 px #fff,
			1077 px 177 px #fff,
			1684 px 1378 px #fff,
			347 px 736 px #fff,
			654 px 949 px #fff,
			610 px 229 px #fff,
			76 px 1850 px #fff,
			611 px 901 px #fff,
			293 px 15 px #fff,
			1814 px 367 px #fff,
			808 px 488 px #fff,
			709 px 1395 px #fff,
			1661 px 152 px #fff,
			741 px 1751 px #fff,
			821 px 834 px #fff,
			1689 px 612 px #fff,
			1552 px 1093 px #fff,
			1643 px 1124 px #fff,
			1811 px 1312 px #fff,
			1187 px 369 px #fff,
			280 px 1238 px #fff,
			1562 px 287 px #fff,
			876 px 1621 px #fff,
			1148 px 614 px #fff,
			308 px 778 px #fff,
			982 px 1826 px #fff,
			356 px 1914 px #fff,
			1054 px 1783 px #fff,
			608 px 688 px #fff,
			1430 px 50 px #fff,
			1409 px 268 px #fff,
			1549 px 951 px #fff,
			1512 px 1317 px #fff,
			1172 px 1866 px #fff,
			795 px 1827 px #fff,
			287 px 575 px #fff,
			435 px 646 px #fff,
			1118 px 990 px #fff,
			513 px 1797 px #fff,
			969 px 693 px #fff,
			1428 px 257 px #fff,
			593 px 1446 px #fff,
			1560 px 471 px #fff,
			1801 px 865 px #fff,
			424 px 25 px #fff,
			1826 px 1709 px #fff,
			636 px 13 px #fff,
			1320 px 1836 px #fff,
			1406 px 1083 px #fff,
			1469 px 1359 px #fff,
			376 px 1576 px #fff,
			1056 px 1046 px #fff,
			1548 px 1016 px #fff,
			991 px 1207 px #fff,
			1240 px 155 px #fff,
			632 px 1705 px #fff,
			1603 px 350 px #fff,
			1051 px 104 px #fff,
			1735 px 699 px #fff,
			434 px 354 px #fff,
			705 px 1775 px #fff,
			1793 px 200 px #fff,
			1963 px 1407 px #fff,
			1063 px 1269 px #fff,
			1071 px 158 px #fff,
			668 px 1456 px #fff,
			1870 px 745 px #fff,
			430 px 1927 px #fff,
			808 px 870 px #fff,
			1364 px 707 px #fff,
			464 px 1739 px #fff,
			1159 px 1305 px #fff,
			1490 px 283 px #fff,
			1084 px 79 px #fff,
			258 px 1114 px #fff,
			203 px 1427 px #fff,
			1328 px 1138 px #fff,
			1852 px 1571 px #fff,
			868 px 288 px #fff,
			858 px 1616 px #fff,
			593 px 597 px #fff,
			513 px 1319 px #fff,
			755 px 1019 px #fff,
			935 px 324 px #fff,
			587 px 1023 px #fff,
			999 px 1995 px #fff,
			1155 px 811 px #fff,
			1439 px 1962 px #fff,
			1930 px 1533 px #fff,
			524 px 857 px #fff,
			1251 px 1206 px #fff,
			229 px 1993 px #fff,
			965 px 1308 px #fff,
			583 px 1668 px #fff,
			184 px 1056 px #fff,
			949 px 1246 px #fff,
			1286 px 1843 px #fff,
			84 px 268 px #fff,
			1566 px 1227 px #fff,
			22 px 464 px #fff,
			1945 px 1236 px #fff,
			1098 px 1630 px #fff,
			546 px 409 px #fff,
			1004 px 861 px #fff,
			904 px 790 px #fff,
			1563 px 1813 px #fff,
			1670 px 65 px #fff,
			896 px 1368 px #fff,
			1764 px 388 px #fff,
			1531 px 1258 px #fff,
			1802 px 128 px #fff,
			1013 px 353 px #fff,
			1101 px 1367 px #fff,
			442 px 1856 px #fff,
			1732 px 722 px #fff,
			1764 px 236 px #fff,
			858 px 248 px #fff,
			1895 px 614 px #fff,
			552 px 1374 px #fff,
			1572 px 1491 px #fff,
			1311 px 1752 px #fff,
			1377 px 332 px #fff,
			324 px 902 px #fff,
			257 px 1834 px #fff,
			559 px 1944 px #fff,
			809 px 1337 px #fff,
			1764 px 771 px #fff,
			1465 px 1894 px #fff,
			854 px 1582 px #fff,
			1874 px 832 px #fff,
			1207 px 464 px #fff,
			1879 px 1134 px #fff,
			1127 px 262 px #fff,
			27 px 1421 px #fff,
			1126 px 1407 px #fff,
			1775 px 1337 px #fff,
			1458 px 401 px #fff,
			600 px 1587 px #fff,
			306 px 1369 px #fff,
			1394 px 1950 px #fff,
			1705 px 1259 px #fff,
			173 px 13 px #fff,
			1992 px 498 px #fff,
			1409 px 1140 px #fff,
			537 px 489 px #fff,
			988 px 1618 px #fff,
			604 px 1519 px #fff,
			1477 px 422 px #fff,
			1093 px 987 px #fff,
			1899 px 1019 px #fff,
			585 px 1619 px #fff,
			1538 px 719 px #fff,
			57 px 41 px #fff,
			913 px 1386 px #fff,
			441 px 1578 px #fff,
			854 px 631 px #fff,
			1856 px 1396 px #fff,
			249 px 1008 px #fff,
			944 px 1362 px #fff,
			121 px 1853 px #fff,
			757 px 1525 px #fff,
			1107 px 168 px #fff,
			1225 px 933 px #fff,
			1684 px 889 px #fff,
			527 px 1077 px #fff,
			1537 px 1828 px #fff,
			1206 px 485 px #fff,
			1113 px 1963 px #fff,
			261 px 1511 px #fff,
			241 px 890 px #fff,
			1413 px 1953 px #fff,
			255 px 1615 px #fff,
			1549 px 1757 px #fff,
			493 px 1037 px #fff,
			1107 px 329 px #fff,
			1323 px 291 px #fff,
			745 px 1457 px #fff,
			932 px 1828 px #fff,
			1756 px 1034 px #fff,
			572 px 1279 px #fff,
			114 px 1898 px #fff,
			124 px 1657 px #fff,
			1438 px 704 px #fff,
			909 px 553 px #fff,
			933 px 1275 px #fff,
			308 px 451 px #fff,
			354 px 1346 px #fff,
			1932 px 756 px #fff,
			1696 px 1237 px #fff,
			1001 px 61 px #fff,
			213 px 1575 px #fff,
			803 px 283 px #fff,
			1802 px 775 px #fff,
			1579 px 1021 px #fff,
			1599 px 709 px #fff,
			1283 px 931 px #fff,
			1919 px 1186 px #fff,
			741 px 1561 px #fff,
			1595 px 1289 px #fff,
			821 px 39 px #fff,
			506 px 1708 px #fff,
			205 px 1757 px #fff,
			285 px 169 px #fff,
			1579 px 12 px #fff,
			476 px 1448 px #fff,
			19 px 449 px #fff,
			453 px 1187 px #fff,
			571 px 1325 px #fff,
			878 px 130 px #fff,
			1669 px 3 px #fff,
			229 px 1327 px #fff,
			1881 px 1811 px #fff,
			1326 px 1180 px #fff,
			1417 px 1082 px #fff,
			399 px 1501 px #fff,
			1475 px 1598 px #fff,
			893 px 600 px #fff,
			977 px 1892 px #fff,
			575 px 86 px #fff,
			118 px 55 px #fff,
			1408 px 1398 px #fff,
			1049 px 1992 px #fff,
			661 px 1047 px #fff,
			621 px 754 px #fff,
			886 px 1606 px #fff,
			88 px 790 px #fff,
			891 px 847 px #fff,
			1203 px 921 px #fff,
			1506 px 766 px #fff,
			271 px 1314 px #fff,
			399 px 1269 px #fff,
			23 px 467 px #fff,
			788 px 1790 px #fff,
			860 px 937 px #fff,
			902 px 1191 px #fff,
			1281 px 573 px #fff,
			1572 px 1199 px #fff,
			873 px 1691 px #fff,
			1685 px 1647 px #fff,
			363 px 921 px #fff,
			879 px 114 px #fff,
			1530 px 461 px #fff,
			1964 px 1636 px #fff,
			1695 px 834 px #fff,
			817 px 1858 px #fff,
			901 px 723 px #fff,
			75 px 1297 px #fff,
			1529 px 723 px #fff,
			499 px 545 px #fff,
			1001 px 1974 px #fff,
			289 px 1669 px #fff,
			881 px 1591 px #fff,
			825 px 1594 px #fff,
			1954 px 1950 px #fff,
			208 px 323 px #fff,
			1361 px 203 px #fff,
			1158 px 1672 px #fff,
			876 px 788 px #fff,
			61 px 259 px #fff,
			195 px 1826 px #fff,
			856 px 1839 px #fff,
			672 px 1156 px #fff,
			1532 px 61 px #fff,
			1052 px 555 px #fff,
			1931 px 1078 px #fff,
			285 px 41 px #fff,
			25 px 104 px #fff,
			256 px 653 px #fff,
			734 px 1239 px #fff,
			1418 px 1299 px #fff,
			667 px 153 px #fff,
			136 px 1430 px #fff,
			1929 px 1434 px #fff,
			1260 px 1725 px #fff,
			302 px 96 px #fff,
			1822 px 1854 px #fff,
			400 px 340 px #fff,
			435 px 530 px #fff,
			1504 px 381 px #fff,
			827 px 1074 px #fff,
			1483 px 1333 px #fff,
			435 px 1661 px #fff,
			1729 px 14 px #fff,
			1048 px 621 px #fff,
			712 px 803 px #fff,
			119 px 122 px #fff,
			1713 px 783 px #fff,
			1612 px 1094 px #fff,
			712 px 1385 px #fff,
			1952 px 1568 px #fff,
			1129 px 1825 px #fff,
			120 px 839 px #fff,
			1943 px 1193 px #fff,
			1118 px 1690 px #fff,
			1572 px 514 px #fff,
			1004 px 638 px #fff,
			392 px 133 px #fff,
			44 px 713 px #fff,
			1567 px 552 px #fff,
			1480 px 1215 px #fff,
			1111 px 1137 px #fff,
			1062 px 1036 px #fff,
			278 px 1126 px #fff,
			1908 px 253 px #fff,
			691 px 374 px #fff,
			1690 px 1412 px #fff,
			1547 px 1342 px #fff,
			130 px 1738 px #fff,
			430 px 134 px #fff,
			843 px 1593 px #fff,
			157 px 1581 px #fff,
			449 px 1711 px #fff,
			70 px 945 px #fff,
			1020 px 283 px #fff,
			1609 px 515 px #fff,
			23 px 1949 px #fff,
			102 px 1538 px #fff,
			371 px 1165 px #fff,
			1015 px 1629 px #fff,
			1701 px 806 px #fff,
			1895 px 1584 px #fff,
			1640 px 1596 px #fff,
			816 px 609 px #fff,
			1554 px 1137 px #fff,
			1563 px 997 px #fff,
			1434 px 901 px #fff,
			1982 px 213 px #fff,
			1641 px 1460 px #fff,
			1003 px 1623 px #fff,
			1957 px 1221 px #fff,
			1633 px 1767 px #fff,
			1057 px 1249 px #fff,
			283 px 403 px #fff,
			1313 px 450 px #fff,
			195 px 94 px #fff,
			1330 px 254 px #fff,
			1139 px 309 px #fff,
			741 px 919 px #fff,
			649 px 507 px #fff,
			1392 px 1593 px #fff,
			87 px 98 px #fff,
			1883 px 1952 px #fff,
			27 px 1216 px #fff,
			1773 px 228 px #fff,
			290 px 1933 px #fff,
			1741 px 722 px #fff,
			118 px 1554 px #fff,
			610 px 1725 px #fff,
			1578 px 259 px #fff,
			1320 px 1870 px #fff,
			314 px 1440 px #fff,
			1420 px 1872 px #fff,
			1484 px 1543 px #fff,
			1852 px 198 px #fff,
			1324 px 603 px #fff,
			1940 px 1322 px #fff,
			1765 px 585 px #fff,
			569 px 1238 px #fff,
			1707 px 1181 px #fff,
			21 px 1612 px #fff,
			1385 px 590 px #fff,
			232 px 1774 px #fff,
			689 px 911 px #fff,
			1903 px 763 px #fff,
			1017 px 1987 px #fff,
			1602 px 1451 px #fff,
			1172 px 963 px #fff,
			742 px 437 px #fff,
			1229 px 182 px #fff,
			1341 px 1382 px #fff,
			219 px 47 px #fff,
			483 px 1932 px #fff,
			1741 px 1287 px #fff,
			510 px 643 px #fff,
			1912 px 1610 px #fff,
			634 px 772 px #fff,
			523 px 1309 px #fff,
			1648 px 878 px #fff,
			1465 px 1705 px #fff,
			1818 px 1843 px #fff,
			1922 px 1749 px #fff,
			944 px 1309 px #fff,
			1195 px 868 px #fff,
			708 px 1966 px #fff,
			1400 px 1553 px #fff,
			1884 px 1794 px #fff,
			1711 px 1524 px #fff,
			1532 px 1544 px #fff,
			1674 px 1896 px #fff,
			116 px 1569 px #fff,
			428 px 1290 px #fff,
			943 px 992 px #fff,
			230 px 341 px #fff,
			1631 px 284 px #fff,
			79 px 198 px #fff,
			272 px 1204 px #fff,
			1148 px 741 px #fff,
			321 px 1458 px #fff,
			1792 px 1705 px #fff,
			1830 px 134 px #fff,
			133 px 696 px #fff,
			607 px 1173 px #fff,
			58 px 984 px #fff,
			1105 px 1986 px #fff,
			661 px 787 px #fff,
			974 px 1676 px #fff,
			1774 px 1985 px #fff,
			1579 px 308 px #fff,
			204 px 460 px #fff,
			379 px 234 px #fff,
			192 px 1332 px #fff,
			700 px 1475 px #fff,
			1010 px 285 px #fff,
			548 px 1515 px #fff,
			395 px 1745 px #fff,
			830 px 844 px #fff,
			1756 px 1831 px #fff,
			88 px 1819 px #fff,
			372 px 1947 px #fff,
			1095 px 1333 px #fff,
			1967 px 1017 px #fff,
			802 px 60 px #fff,
			791 px 747 px #fff,
			197 px 1226 px #fff,
			1274 px 1150 px #fff,
			1166 px 432 px #fff,
			763 px 196 px #fff,
			19 px 693 px #fff,
			691 px 1352 px #fff,
			250 px 331 px #fff,
			1863 px 1314 px #fff,
			1104 px 753 px #fff,
			1061 px 1085 px #fff,
			278 px 690 px #fff,
			171 px 934 px #fff,
			614 px 879 px #fff,
			99 px 1378 px #fff,
			1618 px 176 px #fff,
			1648 px 1254 px #fff,
			745 px 305 px #fff,
			448 px 848 px #fff,
			1344 px 1546 px #fff,
			1923 px 1260 px #fff,
			589 px 902 px #fff,
			297 px 930 px #fff,
			1153 px 1730 px #fff,
			1170 px 1639 px #fff,
			1753 px 313 px #fff,
			1615 px 574 px #fff,
			1861 px 1506 px #fff,
			415 px 1676 px #fff,
			860 px 937 px #fff,
			857 px 1909 px #fff,
			190 px 932 px #fff,
			67 px 1186 px #fff,
			595 px 1564 px #fff,
			172 px 1720 px #fff,
			974 px 233 px #fff,
			77 px 119 px #fff,
			1762 px 266 px #fff,
			930 px 1451 px #fff,
			271 px 660 px #fff,
			757 px 1801 px #fff,
			1757 px 293 px #fff,
			129 px 1151 px #fff,
			915 px 1588 px #fff,
			1054 px 1004 px #fff,
			734 px 1102 px #fff,
			11 px 563 px #fff,
			296 px 1988 px #fff,
			277 px 25 px #fff,
			1342 px 485 px #fff,
			1228 px 1444 px #fff,
			1081 px 900 px #fff,
			149 px 1416 px #fff,
			1414 px 146 px #fff,
			733 px 1268 px #fff,
			1343 px 887 px #fff,
			1936 px 1825 px #fff,
			1845 px 925 px #fff,
			1531 px 1965 px #fff,
			121 px 738 px #fff,
			1973 px 149 px #fff,
			89 px 1431 px #fff,
			197 px 1519 px #fff,
			1836 px 533 px #fff,
			1536 px 1081 px #fff,
			1688 px 1308 px #fff,
			1239 px 1715 px #fff,
			374 px 118 px #fff,
			1049 px 1249 px #fff,
			832 px 89 px #fff,
			1196 px 315 px #fff,
			268 px 1983 px #fff,
			1409 px 309 px #fff,
			739 px 459 px #fff,
			1085 px 655 px #fff,
			422 px 476 px #fff,
			339 px 1236 px #fff,
			892 px 450 px #fff,
			1414 px 322 px #fff,
			889 px 1614 px #fff,
			751 px 1649 px #fff,
			193 px 318 px #fff,
			629 px 1734 px #fff,
			876 px 1880 px #fff,
			1147 px 1097 px #fff,
			1574 px 1523 px #fff,
			430 px 1688 px #fff,
			518 px 1493 px #fff,
			1152 px 822 px #fff,
			785 px 1544 px #fff,
			694 px 748 px #fff,
			839 px 1298 px #fff,
			1360 px 118 px #fff,
			663 px 1029 px #fff,
			153 px 793 px #fff,
			1693 px 1416 px #fff,
			458 px 677 px #fff,
			394 px 1834 px #fff,
			1628 px 744 px #fff,
			835 px 637 px #fff,
			1195 px 682 px #fff,
			1550 px 1695 px #fff,
			1207 px 872 px #fff,
			1533 px 321 px #fff,
			1732 px 1729 px #fff,
			1308 px 767 px #fff,
			1655 px 591 px #fff,
			150 px 1023 px #fff,
			871 px 38 px #fff,
			1005 px 1402 px #fff,
			737 px 1939 px #fff,
			508 px 765 px #fff,
			1988 px 1872 px #fff,
			1088 px 1918 px #fff,
			477 px 907 px #fff,
			1209 px 1966 px #fff,
			422 px 1772 px #fff,
			602 px 1807 px #fff,
			1368 px 1125 px #fff,
			636 px 285 px #fff,
			540 px 451 px #fff,
			543 px 641 px #fff,
			1964 px 1414 px #fff,
			1257 px 925 px #fff,
			931 px 1028 px #fff,
			1233 px 1542 px #fff,
			843 px 1676 px #fff,
			1474 px 648 px #fff,
			907 px 538 px #fff,
			908 px 154 px #fff,
			690 px 826 px #fff,
			1459 px 1014 px #fff,
			1143 px 429 px #fff,
			1304 px 211 px #fff,
			583 px 1809 px #fff,
			943 px 1540 px #fff,
			1057 px 1243 px #fff,
			1273 px 25 px #fff,
			1094 px 1074 px #fff,
			1032 px 1562 px #fff,
			1693 px 332 px #fff,
			895 px 1192 px #fff,
			855 px 325 px #fff,
			130 px 1562 px #fff,
			603 px 538 px #fff,
			1310 px 1543 px #fff,
			1322 px 1184 px #fff,
			582 px 1596 px #fff,
			1271 px 494 px #fff,
			1450 px 1792 px #fff,
			699 px 833 px #fff,
			789 px 1530 px #fff,
			1545 px 613 px #fff,
			1587 px 1894 px #fff,
			1229 px 137 px #fff,
			1105 px 1034 px #fff,
			918 px 1281 px #fff,
			643 px 1590 px #fff,
			792 px 1781 px #fff,
			75 px 1674 px #fff,
			1738 px 1898 px #fff,
			379 px 1129 px #fff,
			1195 px 72 px #fff,
			1724 px 739 px #fff,
			233 px 255 px #fff,
			1821 px 1479 px #fff,
			1958 px 1079 px #fff,
			1651 px 1021 px #fff,
			1744 px 37 px #fff,
			1644 px 1659 px #fff,
			34 px 1563 px #fff,
			1948 px 428 px #fff,
			1665 px 433 px #fff,
			1052 px 1247 px #fff,
			1047 px 896 px #fff,
			1918 px 1172 px #fff,
			1245 px 723 px #fff,
			1226 px 1395 px #fff,
			1817 px 108 px #fff,
			165 px 1428 px #fff,
			513 px 1514 px #fff,
			465 px 1900 px #fff,
			1123 px 1300 px #fff,
			1204 px 1900 px #fff,
			1470 px 1380 px #fff,
			1586 px 951 px #fff,
			472 px 1544 px #fff,
			294 px 1088 px #fff,
			809 px 217 px #fff,
			451 px 1923 px #fff,
			676 px 189 px #fff,
			1148 px 1778 px #fff,
			1942 px 1520 px #fff,
			131 px 196 px #fff,
			360 px 672 px #fff,
			1478 px 1551 px #fff,
			818 px 1888 px #fff,
			1533 px 69 px #fff,
			863 px 1127 px #fff,
			573 px 1969 px #fff,
			182 px 1986 px #fff,
			1505 px 854 px #fff,
			1836 px 1878 px #fff,
			1864 px 1411 px #fff,
			1754 px 909 px #fff,
			1561 px 994 px #fff,
			1252 px 85 px #fff,
			643 px 590 px #fff,
			1432 px 1452 px #fff,
			387 px 811 px #fff,
			398 px 1001 px #fff,
			101 px 1036 px #fff,
			1250 px 779 px #fff,
			77 px 720 px #fff,
			1127 px 362 px #fff,
			934 px 862 px #fff,
			1765 px 767 px #fff,
			583 px 720 px #fff,
			1049 px 1433 px #fff,
			155 px 119 px #fff,
			623 px 59 px #fff,
			1257 px 871 px #fff,
			1779 px 1724 px #fff,
			525 px 239 px #fff,
			1014 px 1392 px #fff,
			180 px 187 px #fff,
			1187 px 832 px #fff,
			1986 px 318 px #fff,
			1025 px 1490 px #fff,
			176 px 834 px #fff,
			1590 px 1742 px #fff,
			874 px 1979 px #fff,
			1371 px 179 px #fff,
			580 px 1122 px #fff,
			1722 px 1057 px #fff,
			60 px 41 px #fff,
			735 px 1240 px #fff,
			215 px 639 px #fff,
			557 px 893 px #fff,
			1144 px 453 px #fff,
			854 px 918 px #fff,
			1832 px 336 px #fff,
			1713 px 1816 px #fff,
			660 px 1302 px #fff,
			1718 px 194 px #fff,
			1371 px 520 px #fff,
			166 px 189 px #fff,
			560 px 1510 px #fff,
			1955 px 1304 px #fff,
			1712 px 1889 px #fff,
			302 px 81 px #fff,
			1949 px 954 px #fff,
			917 px 819 px #fff,
			587 px 1346 px #fff,
			355 px 1810 px #fff,
			1904 px 1993 px #fff,
			292 px 538 px #fff,
			1545 px 1134 px #fff,
			1409 px 1284 px #fff,
			725 px 867 px #fff,
			39 px 1632 px #fff,
			604 px 1823 px #fff,
			321 px 515 px #fff,
			1904 px 943 px #fff,
			880 px 1738 px #fff,
			419 px 337 px #fff,
			701 px 27 px #fff,
			1988 px 1880 px #fff,
			725 px 735 px #fff,
			141 px 1459 px #fff,
			701 px 424 px #fff,
			1248 px 203 px #fff,
			409 px 967 px #fff; - webkit - animation: animStar 50 s linear infinite;animation: animStar 50 s linear infinite
		}
		#stars: after {
			content: " ";position: absolute;top: 2000 px;width: 1 px;height: 1 px;background: 0 0;box - shadow: 930 px 1196 px #fff,
			1019 px 508 px #fff,
			449 px 1496 px #fff,
			283 px 658 px #fff,
			566 px 386 px #fff,
			1183 px 1377 px #fff,
			1077 px 177 px #fff,
			1684 px 1378 px #fff,
			347 px 736 px #fff,
			654 px 949 px #fff,
			610 px 229 px #fff,
			76 px 1850 px #fff,
			611 px 901 px #fff,
			293 px 15 px #fff,
			1814 px 367 px #fff,
			808 px 488 px #fff,
			709 px 1395 px #fff,
			1661 px 152 px #fff,
			741 px 1751 px #fff,
			821 px 834 px #fff,
			1689 px 612 px #fff,
			1552 px 1093 px #fff,
			1643 px 1124 px #fff,
			1811 px 1312 px #fff,
			1187 px 369 px #fff,
			280 px 1238 px #fff,
			1562 px 287 px #fff,
			876 px 1621 px #fff,
			1148 px 614 px #fff,
			308 px 778 px #fff,
			982 px 1826 px #fff,
			356 px 1914 px #fff,
			1054 px 1783 px #fff,
			608 px 688 px #fff,
			1430 px 50 px #fff,
			1409 px 268 px #fff,
			1549 px 951 px #fff,
			1512 px 1317 px #fff,
			1172 px 1866 px #fff,
			795 px 1827 px #fff,
			287 px 575 px #fff,
			435 px 646 px #fff,
			1118 px 990 px #fff,
			513 px 1797 px #fff,
			969 px 693 px #fff,
			1428 px 257 px #fff,
			593 px 1446 px #fff,
			1560 px 471 px #fff,
			1801 px 865 px #fff,
			424 px 25 px #fff,
			1826 px 1709 px #fff,
			636 px 13 px #fff,
			1320 px 1836 px #fff,
			1406 px 1083 px #fff,
			1469 px 1359 px #fff,
			376 px 1576 px #fff,
			1056 px 1046 px #fff,
			1548 px 1016 px #fff,
			991 px 1207 px #fff,
			1240 px 155 px #fff,
			632 px 1705 px #fff,
			1603 px 350 px #fff,
			1051 px 104 px #fff,
			1735 px 699 px #fff,
			434 px 354 px #fff,
			705 px 1775 px #fff,
			1793 px 200 px #fff,
			1963 px 1407 px #fff,
			1063 px 1269 px #fff,
			1071 px 158 px #fff,
			668 px 1456 px #fff,
			1870 px 745 px #fff,
			430 px 1927 px #fff,
			808 px 870 px #fff,
			1364 px 707 px #fff,
			464 px 1739 px #fff,
			1159 px 1305 px #fff,
			1490 px 283 px #fff,
			1084 px 79 px #fff,
			258 px 1114 px #fff,
			203 px 1427 px #fff,
			1328 px 1138 px #fff,
			1852 px 1571 px #fff,
			868 px 288 px #fff,
			858 px 1616 px #fff,
			593 px 597 px #fff,
			513 px 1319 px #fff,
			755 px 1019 px #fff,
			935 px 324 px #fff,
			587 px 1023 px #fff,
			999 px 1995 px #fff,
			1155 px 811 px #fff,
			1439 px 1962 px #fff,
			1930 px 1533 px #fff,
			524 px 857 px #fff,
			1251 px 1206 px #fff,
			229 px 1993 px #fff,
			965 px 1308 px #fff,
			583 px 1668 px #fff,
			184 px 1056 px #fff,
			949 px 1246 px #fff,
			1286 px 1843 px #fff,
			84 px 268 px #fff,
			1566 px 1227 px #fff,
			22 px 464 px #fff,
			1945 px 1236 px #fff,
			1098 px 1630 px #fff,
			546 px 409 px #fff,
			1004 px 861 px #fff,
			904 px 790 px #fff,
			1563 px 1813 px #fff,
			1670 px 65 px #fff,
			896 px 1368 px #fff,
			1764 px 388 px #fff,
			1531 px 1258 px #fff,
			1802 px 128 px #fff,
			1013 px 353 px #fff,
			1101 px 1367 px #fff,
			442 px 1856 px #fff,
			1732 px 722 px #fff,
			1764 px 236 px #fff,
			858 px 248 px #fff,
			1895 px 614 px #fff,
			552 px 1374 px #fff,
			1572 px 1491 px #fff,
			1311 px 1752 px #fff,
			1377 px 332 px #fff,
			324 px 902 px #fff,
			257 px 1834 px #fff,
			559 px 1944 px #fff,
			809 px 1337 px #fff,
			1764 px 771 px #fff,
			1465 px 1894 px #fff,
			854 px 1582 px #fff,
			1874 px 832 px #fff,
			1207 px 464 px #fff,
			1879 px 1134 px #fff,
			1127 px 262 px #fff,
			27 px 1421 px #fff,
			1126 px 1407 px #fff,
			1775 px 1337 px #fff,
			1458 px 401 px #fff,
			600 px 1587 px #fff,
			306 px 1369 px #fff,
			1394 px 1950 px #fff,
			1705 px 1259 px #fff,
			173 px 13 px #fff,
			1992 px 498 px #fff,
			1409 px 1140 px #fff,
			537 px 489 px #fff,
			988 px 1618 px #fff,
			604 px 1519 px #fff,
			1477 px 422 px #fff,
			1093 px 987 px #fff,
			1899 px 1019 px #fff,
			585 px 1619 px #fff,
			1538 px 719 px #fff,
			57 px 41 px #fff,
			913 px 1386 px #fff,
			441 px 1578 px #fff,
			854 px 631 px #fff,
			1856 px 1396 px #fff,
			249 px 1008 px #fff,
			944 px 1362 px #fff,
			121 px 1853 px #fff,
			757 px 1525 px #fff,
			1107 px 168 px #fff,
			1225 px 933 px #fff,
			1684 px 889 px #fff,
			527 px 1077 px #fff,
			1537 px 1828 px #fff,
			1206 px 485 px #fff,
			1113 px 1963 px #fff,
			261 px 1511 px #fff,
			241 px 890 px #fff,
			1413 px 1953 px #fff,
			255 px 1615 px #fff,
			1549 px 1757 px #fff,
			493 px 1037 px #fff,
			1107 px 329 px #fff,
			1323 px 291 px #fff,
			745 px 1457 px #fff,
			932 px 1828 px #fff,
			1756 px 1034 px #fff,
			572 px 1279 px #fff,
			114 px 1898 px #fff,
			124 px 1657 px #fff,
			1438 px 704 px #fff,
			909 px 553 px #fff,
			933 px 1275 px #fff,
			308 px 451 px #fff,
			354 px 1346 px #fff,
			1932 px 756 px #fff,
			1696 px 1237 px #fff,
			1001 px 61 px #fff,
			213 px 1575 px #fff,
			803 px 283 px #fff,
			1802 px 775 px #fff,
			1579 px 1021 px #fff,
			1599 px 709 px #fff,
			1283 px 931 px #fff,
			1919 px 1186 px #fff,
			741 px 1561 px #fff,
			1595 px 1289 px #fff,
			821 px 39 px #fff,
			506 px 1708 px #fff,
			205 px 1757 px #fff,
			285 px 169 px #fff,
			1579 px 12 px #fff,
			476 px 1448 px #fff,
			19 px 449 px #fff,
			453 px 1187 px #fff,
			571 px 1325 px #fff,
			878 px 130 px #fff,
			1669 px 3 px #fff,
			229 px 1327 px #fff,
			1881 px 1811 px #fff,
			1326 px 1180 px #fff,
			1417 px 1082 px #fff,
			399 px 1501 px #fff,
			1475 px 1598 px #fff,
			893 px 600 px #fff,
			977 px 1892 px #fff,
			575 px 86 px #fff,
			118 px 55 px #fff,
			1408 px 1398 px #fff,
			1049 px 1992 px #fff,
			661 px 1047 px #fff,
			621 px 754 px #fff,
			886 px 1606 px #fff,
			88 px 790 px #fff,
			891 px 847 px #fff,
			1203 px 921 px #fff,
			1506 px 766 px #fff,
			271 px 1314 px #fff,
			399 px 1269 px #fff,
			23 px 467 px #fff,
			788 px 1790 px #fff,
			860 px 937 px #fff,
			902 px 1191 px #fff,
			1281 px 573 px #fff,
			1572 px 1199 px #fff,
			873 px 1691 px #fff,
			1685 px 1647 px #fff,
			363 px 921 px #fff,
			879 px 114 px #fff,
			1530 px 461 px #fff,
			1964 px 1636 px #fff,
			1695 px 834 px #fff,
			817 px 1858 px #fff,
			901 px 723 px #fff,
			75 px 1297 px #fff,
			1529 px 723 px #fff,
			499 px 545 px #fff,
			1001 px 1974 px #fff,
			289 px 1669 px #fff,
			881 px 1591 px #fff,
			825 px 1594 px #fff,
			1954 px 1950 px #fff,
			208 px 323 px #fff,
			1361 px 203 px #fff,
			1158 px 1672 px #fff,
			876 px 788 px #fff,
			61 px 259 px #fff,
			195 px 1826 px #fff,
			856 px 1839 px #fff,
			672 px 1156 px #fff,
			1532 px 61 px #fff,
			1052 px 555 px #fff,
			1931 px 1078 px #fff,
			285 px 41 px #fff,
			25 px 104 px #fff,
			256 px 653 px #fff,
			734 px 1239 px #fff,
			1418 px 1299 px #fff,
			667 px 153 px #fff,
			136 px 1430 px #fff,
			1929 px 1434 px #fff,
			1260 px 1725 px #fff,
			302 px 96 px #fff,
			1822 px 1854 px #fff,
			400 px 340 px #fff,
			435 px 530 px #fff,
			1504 px 381 px #fff,
			827 px 1074 px #fff,
			1483 px 1333 px #fff,
			435 px 1661 px #fff,
			1729 px 14 px #fff,
			1048 px 621 px #fff,
			712 px 803 px #fff,
			119 px 122 px #fff,
			1713 px 783 px #fff,
			1612 px 1094 px #fff,
			712 px 1385 px #fff,
			1952 px 1568 px #fff,
			1129 px 1825 px #fff,
			120 px 839 px #fff,
			1943 px 1193 px #fff,
			1118 px 1690 px #fff,
			1572 px 514 px #fff,
			1004 px 638 px #fff,
			392 px 133 px #fff,
			44 px 713 px #fff,
			1567 px 552 px #fff,
			1480 px 1215 px #fff,
			1111 px 1137 px #fff,
			1062 px 1036 px #fff,
			278 px 1126 px #fff,
			1908 px 253 px #fff,
			691 px 374 px #fff,
			1690 px 1412 px #fff,
			1547 px 1342 px #fff,
			130 px 1738 px #fff,
			430 px 134 px #fff,
			843 px 1593 px #fff,
			157 px 1581 px #fff,
			449 px 1711 px #fff,
			70 px 945 px #fff,
			1020 px 283 px #fff,
			1609 px 515 px #fff,
			23 px 1949 px #fff,
			102 px 1538 px #fff,
			371 px 1165 px #fff,
			1015 px 1629 px #fff,
			1701 px 806 px #fff,
			1895 px 1584 px #fff,
			1640 px 1596 px #fff,
			816 px 609 px #fff,
			1554 px 1137 px #fff,
			1563 px 997 px #fff,
			1434 px 901 px #fff,
			1982 px 213 px #fff,
			1641 px 1460 px #fff,
			1003 px 1623 px #fff,
			1957 px 1221 px #fff,
			1633 px 1767 px #fff,
			1057 px 1249 px #fff,
			283 px 403 px #fff,
			1313 px 450 px #fff,
			195 px 94 px #fff,
			1330 px 254 px #fff,
			1139 px 309 px #fff,
			741 px 919 px #fff,
			649 px 507 px #fff,
			1392 px 1593 px #fff,
			87 px 98 px #fff,
			1883 px 1952 px #fff,
			27 px 1216 px #fff,
			1773 px 228 px #fff,
			290 px 1933 px #fff,
			1741 px 722 px #fff,
			118 px 1554 px #fff,
			610 px 1725 px #fff,
			1578 px 259 px #fff,
			1320 px 1870 px #fff,
			314 px 1440 px #fff,
			1420 px 1872 px #fff,
			1484 px 1543 px #fff,
			1852 px 198 px #fff,
			1324 px 603 px #fff,
			1940 px 1322 px #fff,
			1765 px 585 px #fff,
			569 px 1238 px #fff,
			1707 px 1181 px #fff,
			21 px 1612 px #fff,
			1385 px 590 px #fff,
			232 px 1774 px #fff,
			689 px 911 px #fff,
			1903 px 763 px #fff,
			1017 px 1987 px #fff,
			1602 px 1451 px #fff,
			1172 px 963 px #fff,
			742 px 437 px #fff,
			1229 px 182 px #fff,
			1341 px 1382 px #fff,
			219 px 47 px #fff,
			483 px 1932 px #fff,
			1741 px 1287 px #fff,
			510 px 643 px #fff,
			1912 px 1610 px #fff,
			634 px 772 px #fff,
			523 px 1309 px #fff,
			1648 px 878 px #fff,
			1465 px 1705 px #fff,
			1818 px 1843 px #fff,
			1922 px 1749 px #fff,
			944 px 1309 px #fff,
			1195 px 868 px #fff,
			708 px 1966 px #fff,
			1400 px 1553 px #fff,
			1884 px 1794 px #fff,
			1711 px 1524 px #fff,
			1532 px 1544 px #fff,
			1674 px 1896 px #fff,
			116 px 1569 px #fff,
			428 px 1290 px #fff,
			943 px 992 px #fff,
			230 px 341 px #fff,
			1631 px 284 px #fff,
			79 px 198 px #fff,
			272 px 1204 px #fff,
			1148 px 741 px #fff,
			321 px 1458 px #fff,
			1792 px 1705 px #fff,
			1830 px 134 px #fff,
			133 px 696 px #fff,
			607 px 1173 px #fff,
			58 px 984 px #fff,
			1105 px 1986 px #fff,
			661 px 787 px #fff,
			974 px 1676 px #fff,
			1774 px 1985 px #fff,
			1579 px 308 px #fff,
			204 px 460 px #fff,
			379 px 234 px #fff,
			192 px 1332 px #fff,
			700 px 1475 px #fff,
			1010 px 285 px #fff,
			548 px 1515 px #fff,
			395 px 1745 px #fff,
			830 px 844 px #fff,
			1756 px 1831 px #fff,
			88 px 1819 px #fff,
			372 px 1947 px #fff,
			1095 px 1333 px #fff,
			1967 px 1017 px #fff,
			802 px 60 px #fff,
			791 px 747 px #fff,
			197 px 1226 px #fff,
			1274 px 1150 px #fff,
			1166 px 432 px #fff,
			763 px 196 px #fff,
			19 px 693 px #fff,
			691 px 1352 px #fff,
			250 px 331 px #fff,
			1863 px 1314 px #fff,
			1104 px 753 px #fff,
			1061 px 1085 px #fff,
			278 px 690 px #fff,
			171 px 934 px #fff,
			614 px 879 px #fff,
			99 px 1378 px #fff,
			1618 px 176 px #fff,
			1648 px 1254 px #fff,
			745 px 305 px #fff,
			448 px 848 px #fff,
			1344 px 1546 px #fff,
			1923 px 1260 px #fff,
			589 px 902 px #fff,
			297 px 930 px #fff,
			1153 px 1730 px #fff,
			1170 px 1639 px #fff,
			1753 px 313 px #fff,
			1615 px 574 px #fff,
			1861 px 1506 px #fff,
			415 px 1676 px #fff,
			860 px 937 px #fff,
			857 px 1909 px #fff,
			190 px 932 px #fff,
			67 px 1186 px #fff,
			595 px 1564 px #fff,
			172 px 1720 px #fff,
			974 px 233 px #fff,
			77 px 119 px #fff,
			1762 px 266 px #fff,
			930 px 1451 px #fff,
			271 px 660 px #fff,
			757 px 1801 px #fff,
			1757 px 293 px #fff,
			129 px 1151 px #fff,
			915 px 1588 px #fff,
			1054 px 1004 px #fff,
			734 px 1102 px #fff,
			11 px 563 px #fff,
			296 px 1988 px #fff,
			277 px 25 px #fff,
			1342 px 485 px #fff,
			1228 px 1444 px #fff,
			1081 px 900 px #fff,
			149 px 1416 px #fff,
			1414 px 146 px #fff,
			733 px 1268 px #fff,
			1343 px 887 px #fff,
			1936 px 1825 px #fff,
			1845 px 925 px #fff,
			1531 px 1965 px #fff,
			121 px 738 px #fff,
			1973 px 149 px #fff,
			89 px 1431 px #fff,
			197 px 1519 px #fff,
			1836 px 533 px #fff,
			1536 px 1081 px #fff,
			1688 px 1308 px #fff,
			1239 px 1715 px #fff,
			374 px 118 px #fff,
			1049 px 1249 px #fff,
			832 px 89 px #fff,
			1196 px 315 px #fff,
			268 px 1983 px #fff,
			1409 px 309 px #fff,
			739 px 459 px #fff,
			1085 px 655 px #fff,
			422 px 476 px #fff,
			339 px 1236 px #fff,
			892 px 450 px #fff,
			1414 px 322 px #fff,
			889 px 1614 px #fff,
			751 px 1649 px #fff,
			193 px 318 px #fff,
			629 px 1734 px #fff,
			876 px 1880 px #fff,
			1147 px 1097 px #fff,
			1574 px 1523 px #fff,
			430 px 1688 px #fff,
			518 px 1493 px #fff,
			1152 px 822 px #fff,
			785 px 1544 px #fff,
			694 px 748 px #fff,
			839 px 1298 px #fff,
			1360 px 118 px #fff,
			663 px 1029 px #fff,
			153 px 793 px #fff,
			1693 px 1416 px #fff,
			458 px 677 px #fff,
			394 px 1834 px #fff,
			1628 px 744 px #fff,
			835 px 637 px #fff,
			1195 px 682 px #fff,
			1550 px 1695 px #fff,
			1207 px 872 px #fff,
			1533 px 321 px #fff,
			1732 px 1729 px #fff,
			1308 px 767 px #fff,
			1655 px 591 px #fff,
			150 px 1023 px #fff,
			871 px 38 px #fff,
			1005 px 1402 px #fff,
			737 px 1939 px #fff,
			508 px 765 px #fff,
			1988 px 1872 px #fff,
			1088 px 1918 px #fff,
			477 px 907 px #fff,
			1209 px 1966 px #fff,
			422 px 1772 px #fff,
			602 px 1807 px #fff,
			1368 px 1125 px #fff,
			636 px 285 px #fff,
			540 px 451 px #fff,
			543 px 641 px #fff,
			1964 px 1414 px #fff,
			1257 px 925 px #fff,
			931 px 1028 px #fff,
			1233 px 1542 px #fff,
			843 px 1676 px #fff,
			1474 px 648 px #fff,
			907 px 538 px #fff,
			908 px 154 px #fff,
			690 px 826 px #fff,
			1459 px 1014 px #fff,
			1143 px 429 px #fff,
			1304 px 211 px #fff,
			583 px 1809 px #fff,
			943 px 1540 px #fff,
			1057 px 1243 px #fff,
			1273 px 25 px #fff,
			1094 px 1074 px #fff,
			1032 px 1562 px #fff,
			1693 px 332 px #fff,
			895 px 1192 px #fff,
			855 px 325 px #fff,
			130 px 1562 px #fff,
			603 px 538 px #fff,
			1310 px 1543 px #fff,
			1322 px 1184 px #fff,
			582 px 1596 px #fff,
			1271 px 494 px #fff,
			1450 px 1792 px #fff,
			699 px 833 px #fff,
			789 px 1530 px #fff,
			1545 px 613 px #fff,
			1587 px 1894 px #fff,
			1229 px 137 px #fff,
			1105 px 1034 px #fff,
			918 px 1281 px #fff,
			643 px 1590 px #fff,
			792 px 1781 px #fff,
			75 px 1674 px #fff,
			1738 px 1898 px #fff,
			379 px 1129 px #fff,
			1195 px 72 px #fff,
			1724 px 739 px #fff,
			233 px 255 px #fff,
			1821 px 1479 px #fff,
			1958 px 1079 px #fff,
			1651 px 1021 px #fff,
			1744 px 37 px #fff,
			1644 px 1659 px #fff,
			34 px 1563 px #fff,
			1948 px 428 px #fff,
			1665 px 433 px #fff,
			1052 px 1247 px #fff,
			1047 px 896 px #fff,
			1918 px 1172 px #fff,
			1245 px 723 px #fff,
			1226 px 1395 px #fff,
			1817 px 108 px #fff,
			165 px 1428 px #fff,
			513 px 1514 px #fff,
			465 px 1900 px #fff,
			1123 px 1300 px #fff,
			1204 px 1900 px #fff,
			1470 px 1380 px #fff,
			1586 px 951 px #fff,
			472 px 1544 px #fff,
			294 px 1088 px #fff,
			809 px 217 px #fff,
			451 px 1923 px #fff,
			676 px 189 px #fff,
			1148 px 1778 px #fff,
			1942 px 1520 px #fff,
			131 px 196 px #fff,
			360 px 672 px #fff,
			1478 px 1551 px #fff,
			818 px 1888 px #fff,
			1533 px 69 px #fff,
			863 px 1127 px #fff,
			573 px 1969 px #fff,
			182 px 1986 px #fff,
			1505 px 854 px #fff,
			1836 px 1878 px #fff,
			1864 px 1411 px #fff,
			1754 px 909 px #fff,
			1561 px 994 px #fff,
			1252 px 85 px #fff,
			643 px 590 px #fff,
			1432 px 1452 px #fff,
			387 px 811 px #fff,
			398 px 1001 px #fff,
			101 px 1036 px #fff,
			1250 px 779 px #fff,
			77 px 720 px #fff,
			1127 px 362 px #fff,
			934 px 862 px #fff,
			1765 px 767 px #fff,
			583 px 720 px #fff,
			1049 px 1433 px #fff,
			155 px 119 px #fff,
			623 px 59 px #fff,
			1257 px 871 px #fff,
			1779 px 1724 px #fff,
			525 px 239 px #fff,
			1014 px 1392 px #fff,
			180 px 187 px #fff,
			1187 px 832 px #fff,
			1986 px 318 px #fff,
			1025 px 1490 px #fff,
			176 px 834 px #fff,
			1590 px 1742 px #fff,
			874 px 1979 px #fff,
			1371 px 179 px #fff,
			580 px 1122 px #fff,
			1722 px 1057 px #fff,
			60 px 41 px #fff,
			735 px 1240 px #fff,
			215 px 639 px #fff,
			557 px 893 px #fff,
			1144 px 453 px #fff,
			854 px 918 px #fff,
			1832 px 336 px #fff,
			1713 px 1816 px #fff,
			660 px 1302 px #fff,
			1718 px 194 px #fff,
			1371 px 520 px #fff,
			166 px 189 px #fff,
			560 px 1510 px #fff,
			1955 px 1304 px #fff,
			1712 px 1889 px #fff,
			302 px 81 px #fff,
			1949 px 954 px #fff,
			917 px 819 px #fff,
			587 px 1346 px #fff,
			355 px 1810 px #fff,
			1904 px 1993 px #fff,
			292 px 538 px #fff,
			1545 px 1134 px #fff,
			1409 px 1284 px #fff,
			725 px 867 px #fff,
			39 px 1632 px #fff,
			604 px 1823 px #fff,
			321 px 515 px #fff,
			1904 px 943 px #fff,
			880 px 1738 px #fff,
			419 px 337 px #fff,
			701 px 27 px #fff,
			1988 px 1880 px #fff,
			725 px 735 px #fff,
			141 px 1459 px #fff,
			701 px 424 px #fff,
			1248 px 203 px #fff,
			409 px 967 px #fff
		}
		#stars2 {
			position: absolute;width: 2 px;height: 2 px;background: 0 0;box - shadow: 598 px 1974 px #fff,
			796 px 1228 px #fff,
			1897 px 1492 px #fff,
			15 px 1774 px #fff,
			1862 px 1941 px #fff,
			1915 px 984 px #fff,
			714 px 1116 px #fff,
			1667 px 254 px #fff,
			1849 px 319 px #fff,
			1241 px 1431 px #fff,
			1771 px 1852 px #fff,
			1233 px 1759 px #fff,
			73 px 1079 px #fff,
			194 px 396 px #fff,
			1750 px 1601 px #fff,
			181 px 608 px #fff,
			254 px 1977 px #fff,
			597 px 488 px #fff,
			290 px 1150 px #fff,
			47 px 1226 px #fff,
			684 px 209 px #fff,
			1717 px 12 px #fff,
			404 px 733 px #fff,
			682 px 1792 px #fff,
			779 px 500 px #fff,
			1710 px 61 px #fff,
			549 px 1387 px #fff,
			439 px 338 px #fff,
			1203 px 1196 px #fff,
			570 px 521 px #fff,
			1893 px 1005 px #fff,
			1329 px 1215 px #fff,
			86 px 1635 px #fff,
			110 px 1324 px #fff,
			327 px 1038 px #fff,
			1947 px 1992 px #fff,
			479 px 1072 px #fff,
			1967 px 785 px #fff,
			1871 px 254 px #fff,
			1436 px 1841 px #fff,
			1119 px 1350 px #fff,
			1067 px 1136 px #fff,
			1533 px 1845 px #fff,
			299 px 946 px #fff,
			1755 px 1770 px #fff,
			1147 px 1804 px #fff,
			1282 px 1856 px #fff,
			807 px 1474 px #fff,
			938 px 267 px #fff,
			1096 px 727 px #fff,
			758 px 297 px #fff,
			1641 px 220 px #fff,
			1421 px 1273 px #fff,
			1525 px 654 px #fff,
			1088 px 1049 px #fff,
			1684 px 1372 px #fff,
			1427 px 133 px #fff,
			67 px 1287 px #fff,
			59 px 477 px #fff,
			11 px 1285 px #fff,
			872 px 1289 px #fff,
			1648 px 1793 px #fff,
			895 px 1795 px #fff,
			1415 px 103 px #fff,
			1903 px 630 px #fff,
			1949 px 1202 px #fff,
			182 px 1731 px #fff,
			713 px 351 px #fff,
			1707 px 980 px #fff,
			1316 px 278 px #fff,
			1541 px 1083 px #fff,
			1036 px 1657 px #fff,
			1649 px 9 px #fff,
			1229 px 102 px #fff,
			123 px 854 px #fff,
			604 px 665 px #fff,
			308 px 1281 px #fff,
			1199 px 239 px #fff,
			194 px 46 px #fff,
			65 px 1855 px #fff,
			1467 px 1835 px #fff,
			1666 px 163 px #fff,
			1920 px 114 px #fff,
			464 px 1050 px #fff,
			1024 px 897 px #fff,
			572 px 1418 px #fff,
			1753 px 457 px #fff,
			1640 px 1114 px #fff,
			480 px 480 px #fff,
			563 px 1593 px #fff,
			1933 px 404 px #fff,
			981 px 1399 px #fff,
			868 px 1498 px #fff,
			701 px 533 px #fff,
			1098 px 466 px #fff,
			605 px 853 px #fff,
			508 px 1598 px #fff,
			609 px 162 px #fff,
			1316 px 599 px #fff,
			1870 px 1523 px #fff,
			241 px 1472 px #fff,
			1183 px 392 px #fff,
			637 px 1349 px #fff,
			1181 px 1349 px #fff,
			512 px 1354 px #fff,
			243 px 273 px #fff,
			1266 px 1531 px #fff,
			588 px 1703 px #fff,
			1592 px 1796 px #fff,
			1115 px 1267 px #fff,
			1005 px 725 px #fff,
			1010 px 1724 px #fff,
			1020 px 1997 px #fff,
			1764 px 1203 px #fff,
			867 px 1660 px #fff,
			853 px 958 px #fff,
			227 px 753 px #fff,
			204 px 812 px #fff,
			635 px 1373 px #fff,
			140 px 1041 px #fff,
			1974 px 997 px #fff,
			475 px 1766 px #fff,
			775 px 993 px #fff,
			509 px 1564 px #fff,
			1233 px 1762 px #fff,
			594 px 1367 px #fff,
			662 px 454 px #fff,
			1643 px 127 px #fff,
			1102 px 409 px #fff,
			1173 px 1844 px #fff,
			1141 px 305 px #fff,
			1956 px 359 px #fff,
			741 px 1545 px #fff,
			486 px 1752 px #fff,
			453 px 1568 px #fff,
			143 px 498 px #fff,
			10 px 246 px #fff,
			1986 px 1066 px #fff,
			640 px 76 px #fff,
			1704 px 787 px #fff,
			1552 px 136 px #fff,
			720 px 1538 px #fff,
			937 px 463 px #fff,
			1304 px 411 px #fff,
			535 px 1384 px #fff,
			1649 px 1559 px #fff,
			120 px 14 px #fff,
			452 px 1069 px #fff,
			524 px 1896 px #fff,
			1239 px 194 px #fff,
			838 px 1633 px #fff,
			322 px 797 px #fff,
			1303 px 1738 px #fff,
			1788 px 1325 px #fff,
			926 px 81 px #fff,
			1773 px 1962 px #fff,
			781 px 1208 px #fff,
			1001 px 53 px #fff,
			1243 px 762 px #fff,
			475 px 652 px #fff,
			907 px 364 px #fff,
			1891 px 990 px #fff,
			675 px 270 px #fff,
			1264 px 167 px #fff,
			1919 px 1162 px #fff,
			1845 px 1484 px #fff,
			635 px 1557 px #fff,
			1840 px 42 px #fff,
			1980 px 292 px #fff,
			216 px 1877 px #fff,
			533 px 1483 px #fff,
			333 px 868 px #fff,
			630 px 1750 px #fff,
			1665 px 296 px #fff,
			435 px 774 px #fff,
			1943 px 1791 px #fff,
			1950 px 1037 px #fff,
			1869 px 657 px #fff,
			1187 px 1861 px #fff,
			1639 px 1636 px #fff,
			1267 px 155 px #fff,
			1250 px 291 px #fff,
			1014 px 1736 px #fff,
			1737 px 1476 px #fff,
			508 px 1271 px #fff,
			1991 px 953 px #fff,
			461 px 1548 px #fff,
			670 px 86 px #fff,
			240 px 1863 px #fff,
			1146 px 37 px #fff,
			1942 px 1476 px #fff,
			1666 px 1385 px #fff,
			375 px 64 px #fff,
			1562 px 134 px #fff,
			876 px 1861 px #fff,
			256 px 500 px #fff,
			1878 px 1297 px #fff,
			1992 px 1777 px #fff,
			418 px 1995 px #fff,
			1574 px 194 px #fff; - webkit - animation: animStar 100 s linear infinite;animation: animStar 100 s linear infinite
		}
		#stars2: after {
			content: " ";position: absolute;top: 2000 px;width: 2 px;height: 2 px;background: 0 0;box - shadow: 598 px 1974 px #fff,
			796 px 1228 px #fff,
			1897 px 1492 px #fff,
			15 px 1774 px #fff,
			1862 px 1941 px #fff,
			1915 px 984 px #fff,
			714 px 1116 px #fff,
			1667 px 254 px #fff,
			1849 px 319 px #fff,
			1241 px 1431 px #fff,
			1771 px 1852 px #fff,
			1233 px 1759 px #fff,
			73 px 1079 px #fff,
			194 px 396 px #fff,
			1750 px 1601 px #fff,
			181 px 608 px #fff,
			254 px 1977 px #fff,
			597 px 488 px #fff,
			290 px 1150 px #fff,
			47 px 1226 px #fff,
			684 px 209 px #fff,
			1717 px 12 px #fff,
			404 px 733 px #fff,
			682 px 1792 px #fff,
			779 px 500 px #fff,
			1710 px 61 px #fff,
			549 px 1387 px #fff,
			439 px 338 px #fff,
			1203 px 1196 px #fff,
			570 px 521 px #fff,
			1893 px 1005 px #fff,
			1329 px 1215 px #fff,
			86 px 1635 px #fff,
			110 px 1324 px #fff,
			327 px 1038 px #fff,
			1947 px 1992 px #fff,
			479 px 1072 px #fff,
			1967 px 785 px #fff,
			1871 px 254 px #fff,
			1436 px 1841 px #fff,
			1119 px 1350 px #fff,
			1067 px 1136 px #fff,
			1533 px 1845 px #fff,
			299 px 946 px #fff,
			1755 px 1770 px #fff,
			1147 px 1804 px #fff,
			1282 px 1856 px #fff,
			807 px 1474 px #fff,
			938 px 267 px #fff,
			1096 px 727 px #fff,
			758 px 297 px #fff,
			1641 px 220 px #fff,
			1421 px 1273 px #fff,
			1525 px 654 px #fff,
			1088 px 1049 px #fff,
			1684 px 1372 px #fff,
			1427 px 133 px #fff,
			67 px 1287 px #fff,
			59 px 477 px #fff,
			11 px 1285 px #fff,
			872 px 1289 px #fff,
			1648 px 1793 px #fff,
			895 px 1795 px #fff,
			1415 px 103 px #fff,
			1903 px 630 px #fff,
			1949 px 1202 px #fff,
			182 px 1731 px #fff,
			713 px 351 px #fff,
			1707 px 980 px #fff,
			1316 px 278 px #fff,
			1541 px 1083 px #fff,
			1036 px 1657 px #fff,
			1649 px 9 px #fff,
			1229 px 102 px #fff,
			123 px 854 px #fff,
			604 px 665 px #fff,
			308 px 1281 px #fff,
			1199 px 239 px #fff,
			194 px 46 px #fff,
			65 px 1855 px #fff,
			1467 px 1835 px #fff,
			1666 px 163 px #fff,
			1920 px 114 px #fff,
			464 px 1050 px #fff,
			1024 px 897 px #fff,
			572 px 1418 px #fff,
			1753 px 457 px #fff,
			1640 px 1114 px #fff,
			480 px 480 px #fff,
			563 px 1593 px #fff,
			1933 px 404 px #fff,
			981 px 1399 px #fff,
			868 px 1498 px #fff,
			701 px 533 px #fff,
			1098 px 466 px #fff,
			605 px 853 px #fff,
			508 px 1598 px #fff,
			609 px 162 px #fff,
			1316 px 599 px #fff,
			1870 px 1523 px #fff,
			241 px 1472 px #fff,
			1183 px 392 px #fff,
			637 px 1349 px #fff,
			1181 px 1349 px #fff,
			512 px 1354 px #fff,
			243 px 273 px #fff,
			1266 px 1531 px #fff,
			588 px 1703 px #fff,
			1592 px 1796 px #fff,
			1115 px 1267 px #fff,
			1005 px 725 px #fff,
			1010 px 1724 px #fff,
			1020 px 1997 px #fff,
			1764 px 1203 px #fff,
			867 px 1660 px #fff,
			853 px 958 px #fff,
			227 px 753 px #fff,
			204 px 812 px #fff,
			635 px 1373 px #fff,
			140 px 1041 px #fff,
			1974 px 997 px #fff,
			475 px 1766 px #fff,
			775 px 993 px #fff,
			509 px 1564 px #fff,
			1233 px 1762 px #fff,
			594 px 1367 px #fff,
			662 px 454 px #fff,
			1643 px 127 px #fff,
			1102 px 409 px #fff,
			1173 px 1844 px #fff,
			1141 px 305 px #fff,
			1956 px 359 px #fff,
			741 px 1545 px #fff,
			486 px 1752 px #fff,
			453 px 1568 px #fff,
			143 px 498 px #fff,
			10 px 246 px #fff,
			1986 px 1066 px #fff,
			640 px 76 px #fff,
			1704 px 787 px #fff,
			1552 px 136 px #fff,
			720 px 1538 px #fff,
			937 px 463 px #fff,
			1304 px 411 px #fff,
			535 px 1384 px #fff,
			1649 px 1559 px #fff,
			120 px 14 px #fff,
			452 px 1069 px #fff,
			524 px 1896 px #fff,
			1239 px 194 px #fff,
			838 px 1633 px #fff,
			322 px 797 px #fff,
			1303 px 1738 px #fff,
			1788 px 1325 px #fff,
			926 px 81 px #fff,
			1773 px 1962 px #fff,
			781 px 1208 px #fff,
			1001 px 53 px #fff,
			1243 px 762 px #fff,
			475 px 652 px #fff,
			907 px 364 px #fff,
			1891 px 990 px #fff,
			675 px 270 px #fff,
			1264 px 167 px #fff,
			1919 px 1162 px #fff,
			1845 px 1484 px #fff,
			635 px 1557 px #fff,
			1840 px 42 px #fff,
			1980 px 292 px #fff,
			216 px 1877 px #fff,
			533 px 1483 px #fff,
			333 px 868 px #fff,
			630 px 1750 px #fff,
			1665 px 296 px #fff,
			435 px 774 px #fff,
			1943 px 1791 px #fff,
			1950 px 1037 px #fff,
			1869 px 657 px #fff,
			1187 px 1861 px #fff,
			1639 px 1636 px #fff,
			1267 px 155 px #fff,
			1250 px 291 px #fff,
			1014 px 1736 px #fff,
			1737 px 1476 px #fff,
			508 px 1271 px #fff,
			1991 px 953 px #fff,
			461 px 1548 px #fff,
			670 px 86 px #fff,
			240 px 1863 px #fff,
			1146 px 37 px #fff,
			1942 px 1476 px #fff,
			1666 px 1385 px #fff,
			375 px 64 px #fff,
			1562 px 134 px #fff,
			876 px 1861 px #fff,
			256 px 500 px #fff,
			1878 px 1297 px #fff,
			1992 px 1777 px #fff,
			418 px 1995 px #fff,
			1574 px 194 px #fff
		}
		#stars3 {
			width: 3 px;height: 3 px;background: 0 0;box - shadow: 1822 px 1426 px #fff,
			1861 px 1794 px #fff,
			1475 px 1572 px #fff,
			585 px 672 px #fff,
			83 px 1836 px #fff,
			1725 px 1961 px #fff,
			1901 px 1724 px #fff,
			380 px 1733 px #fff,
			490 px 79 px #fff,
			1285 px 1504 px #fff,
			1045 px 1796 px #fff,
			1666 px 428 px #fff,
			1238 px 1367 px #fff,
			1076 px 1343 px #fff,
			97 px 980 px #fff,
			993 px 1370 px #fff,
			709 px 267 px #fff,
			1411 px 934 px #fff,
			1666 px 767 px #fff,
			381 px 3 px #fff,
			1800 px 22 px #fff,
			66 px 1471 px #fff,
			1388 px 1420 px #fff,
			1647 px 190 px #fff,
			234 px 1778 px #fff,
			1207 px 215 px #fff,
			1502 px 979 px #fff,
			1233 px 1297 px #fff,
			1668 px 177 px #fff,
			840 px 917 px #fff,
			1785 px 64 px #fff,
			1119 px 551 px #fff,
			128 px 1816 px #fff,
			1468 px 1891 px #fff,
			1879 px 1893 px #fff,
			1849 px 1567 px #fff,
			1363 px 486 px #fff,
			1835 px 1995 px #fff,
			119 px 1934 px #fff,
			76 px 993 px #fff,
			311 px 941 px #fff,
			1704 px 113 px #fff,
			216 px 628 px #fff,
			396 px 1918 px #fff,
			682 px 1750 px #fff,
			310 px 1172 px #fff,
			1859 px 1591 px #fff,
			66 px 1720 px #fff,
			490 px 719 px #fff,
			791 px 1626 px #fff,
			1700 px 1675 px #fff,
			296 px 344 px #fff,
			57 px 1810 px #fff,
			1861 px 704 px #fff,
			582 px 635 px #fff,
			439 px 1945 px #fff,
			1881 px 294 px #fff,
			489 px 1725 px #fff,
			1728 px 1115 px #fff,
			1505 px 1554 px #fff,
			1231 px 1777 px #fff,
			1663 px 1950 px #fff,
			306 px 340 px #fff,
			1310 px 1495 px #fff,
			682 px 296 px #fff,
			1901 px 982 px #fff,
			443 px 1903 px #fff,
			1196 px 725 px #fff,
			1515 px 373 px #fff,
			451 px 1112 px #fff,
			1051 px 805 px #fff,
			1242 px 688 px #fff,
			1038 px 953 px #fff,
			121 px 891 px #fff,
			1933 px 1447 px #fff,
			1675 px 1885 px #fff,
			133 px 1430 px #fff,
			1084 px 1381 px #fff,
			229 px 588 px #fff,
			149 px 23 px #fff,
			1610 px 1422 px #fff,
			1079 px 1849 px #fff,
			1481 px 417 px #fff,
			625 px 488 px #fff,
			1934 px 1956 px #fff,
			495 px 1042 px #fff,
			1628 px 273 px #fff,
			301 px 464 px #fff,
			1766 px 1858 px #fff,
			1553 px 122 px #fff,
			1607 px 1425 px #fff,
			1150 px 780 px #fff,
			32 px 234 px #fff,
			686 px 1535 px #fff,
			489 px 704 px #fff,
			1439 px 1030 px #fff,
			1566 px 1148 px #fff,
			979 px 976 px #fff,
			131 px 1962 px #fff,
			1229 px 1594 px #fff; - webkit - animation: animStar 150 s linear infinite;animation: animStar 150 s linear infinite
		}
		#stars3: after {
			content: " ";position: absolute;top: 2000 px;width: 3 px;height: 3 px;background: 0 0;box - shadow: 1822 px 1426 px #fff,
			1861 px 1794 px #fff,
			1475 px 1572 px #fff,
			585 px 672 px #fff,
			83 px 1836 px #fff,
			1725 px 1961 px #fff,
			1901 px 1724 px #fff,
			380 px 1733 px #fff,
			490 px 79 px #fff,
			1285 px 1504 px #fff,
			1045 px 1796 px #fff,
			1666 px 428 px #fff,
			1238 px 1367 px #fff,
			1076 px 1343 px #fff,
			97 px 980 px #fff,
			993 px 1370 px #fff,
			709 px 267 px #fff,
			1411 px 934 px #fff,
			1666 px 767 px #fff,
			381 px 3 px #fff,
			1800 px 22 px #fff,
			66 px 1471 px #fff,
			1388 px 1420 px #fff,
			1647 px 190 px #fff,
			234 px 1778 px #fff,
			1207 px 215 px #fff,
			1502 px 979 px #fff,
			1233 px 1297 px #fff,
			1668 px 177 px #fff,
			840 px 917 px #fff,
			1785 px 64 px #fff,
			1119 px 551 px #fff,
			128 px 1816 px #fff,
			1468 px 1891 px #fff,
			1879 px 1893 px #fff,
			1849 px 1567 px #fff,
			1363 px 486 px #fff,
			1835 px 1995 px #fff,
			119 px 1934 px #fff,
			76 px 993 px #fff,
			311 px 941 px #fff,
			1704 px 113 px #fff,
			216 px 628 px #fff,
			396 px 1918 px #fff,
			682 px 1750 px #fff,
			310 px 1172 px #fff,
			1859 px 1591 px #fff,
			66 px 1720 px #fff,
			490 px 719 px #fff,
			791 px 1626 px #fff,
			1700 px 1675 px #fff,
			296 px 344 px #fff,
			57 px 1810 px #fff,
			1861 px 704 px #fff,
			582 px 635 px #fff,
			439 px 1945 px #fff,
			1881 px 294 px #fff,
			489 px 1725 px #fff,
			1728 px 1115 px #fff,
			1505 px 1554 px #fff,
			1231 px 1777 px #fff,
			1663 px 1950 px #fff,
			306 px 340 px #fff,
			1310 px 1495 px #fff,
			682 px 296 px #fff,
			1901 px 982 px #fff,
			443 px 1903 px #fff,
			1196 px 725 px #fff,
			1515 px 373 px #fff,
			451 px 1112 px #fff,
			1051 px 805 px #fff,
			1242 px 688 px #fff,
			1038 px 953 px #fff,
			121 px 891 px #fff,
			1933 px 1447 px #fff,
			1675 px 1885 px #fff,
			133 px 1430 px #fff,
			1084 px 1381 px #fff,
			229 px 588 px #fff,
			149 px 23 px #fff,
			1610 px 1422 px #fff,
			1079 px 1849 px #fff,
			1481 px 417 px #fff,
			625 px 488 px #fff,
			1934 px 1956 px #fff,
			495 px 1042 px #fff,
			1628 px 273 px #fff,
			301 px 464 px #fff,
			1766 px 1858 px #fff,
			1553 px 122 px #fff,
			1607 px 1425 px #fff,
			1150 px 780 px #fff,
			32 px 234 px #fff,
			686 px 1535 px #fff,
			489 px 704 px #fff,
			1439 px 1030 px #fff,
			1566 px 1148 px #fff,
			979 px 976 px #fff,
			131 px 1962 px #fff,
			1229 px 1594 px #fff
		}
		#title {
			position: absolute;top: 50 % ;left: 0;right: 0;color: #fff;text - align: center;font - family: lato,
			sans - serif;font - weight: 300;font - size: 50 px;letter - spacing: 10 px;margin - top: -60 px;padding - left: 10 px
		}
		#title span {
			background: -webkit - linear - gradient(#fff, #38495a);-webkit-background-clip:text;-webkit-text-fill-color:transparent}@-webkit-keyframes animStar{0%{-webkit-transform:translateY(0);transform:translateY(0)}to{-webkit-transform:translateY(-2000px);transform:translateY(-2000px)}}@keyframes animStar{0%{-webkit-transform:translateY(0);transform:translateY(0)}to{-webkit-transform:translateY(-2000px);transform:translateY(-2000px)}}