@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;display=swap');


.span1{
font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
h1{
    font-weight: bold;
    font-size: 7em;
    margin-bottom: -50px;
}

head {
    display: none;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

body {
    display: block;
    margin: 8px;
}

.butmax{
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  margin-top: 20px;
  border-style: solid;
  border-color: white;
  margin-left: 16px;
  font-size: 15px;
  letter-spacing: 1.1px;
  background-image: linear-gradient(
  90deg,white,white);
  border: 2px solid;
  padding: 6px;
  font: sans-serif;
  color: black;
  text-align: center;
}

.butmax:hover {
  color: white;
  cursor: pointer;
  background-image: linear-gradient(
  90deg,black,black);
  border: 2px solid;
  border-color: black;
}

.logo{
  text-align: center;
  padding-top: 20px;
}

.logo2{
  width: 550px;

}

.container {
    margin: auto;
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 30px;
    height: 430px;
    width: 27%;
    padding-top: 50px;


}


div {
    display: block;
}


a {
    color: blue;
    text-decoration: none;
}

.but:hover {
    color: white;
    cursor: pointer;
    background-image: linear-gradient(
    90deg,black,black);
    border: 2px solid;
    border-color: black;
}

.quantity {
    margin: auto;
    display: block;
    font-size: 17px;
    padding-bottom: 17px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 15px;
    border-radius: 5px;
    font-family: Poppins,sans-serif;
    color: white;
    text-align: center;

}

.mintprice1 {
    margin: auto;
    display: block;
    font-size: 17px;
    padding-top: 17px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 5px;
    font-family: Poppins,sans-serif;
    color: white;
    text-align: center;

}

.mintprice {
    margin: auto;
    display: block;
    font-size: 17px;
    padding: 17px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 5px;
    font-family: Poppins,sans-serif;
    color: white;
    text-align: center;

}

.but {
    border: solid;
    margin: auto;
    display: block;
    font-size: 20px;
    letter-spacing: 1.1px;
    background: linear-gradient(
90deg,white,white);
    padding: 17px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: bold;
    color: black;
    border: 2px solid;
    border-color: white;
    text-align: center;
    width: 200px;
}

input {
    margin-left: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-family: Poppins,sans-serif;
    color: black;
    border: white 1px solid;
    width: 70px;
    text-align: center;
}

.quantity{
  text-align: center;
  font-size: bold;
}
